@import "../../base.scss";

body {
    margin: 0;
}

header {
    width: calc(100% - 256px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 128px 0 128px;
}

.logo {
    width: 226px;
    height: 35px;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    align-items: center;
}

nav ul li {
    margin-right: 31px;
}

nav ul li a {
    color: white;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 14px;
    line-height: 41px;
    font-weight: 400;
    letter-spacing: 0%;
    opacity: 0.7;
    transition: 0.3s;
}

.active {
    font-weight: 700;
    opacity: 1;
    text-decoration: underline;
}

.pipe {
    color: white;
    font-size: 14px;
    margin-right: 46px;
    line-height: 41px;
    opacity: 0.5;
}

.consultSection {
    display: flex;
    align-items: center;
}

.consultText,
.contactNumber {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 14px;
    line-height: 41px;
    letter-spacing: 0%;
}

.consultText {
    color: white;
    font-weight: 700;
}

.contactNumber {
    color: #5bc8af;
    font-weight: 400;
}

.container {
    position: relative;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 650px;
    background: url("/app/public/assets/images/contactUsBackgroundImg.png") no-repeat center center/cover;
}

.innerContainer {
    display: flex;
    gap: 109px;
}

.upperCurveWeb {
    height: 89px;
    width: 100vw;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.lowerCurveWeb {
    height: 111px;
    width: 100vw;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
}

.text-section {
    width: 601px;
    color: white;
    margin-top: 170px;
}

.interventionImgWeb {
    width: 498px;
    height: 128px;
    margin-bottom: 20px;
}
.interventionImgTab{
    display: none;
}

.text-section .text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0%;
    font-family: "Montserrat", sans-serif;
}

.contactUsForm {
    margin-top: 86px;
    padding: 51px 28px 56px 28px;
    border-radius: 10px;
    width: 416px;
    height: 342px;
    margin-top: 86px;
    background: linear-gradient(180deg, #2a7d6c 0%, rgba(62, 105, 96, 0.62) 100%);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formHeading {
    color: white;
    font-size: 28px;
    line-height: 35px;
    font-weight: 700;
    letter-spacing: 0%;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-bottom: 34px;
}

.inputGroup {
    display: flex;
    gap: 16px;
}

.selectionGroup {
    width: 100%;
}

.input {
    width: 166px;
    height: 41px;
    background: transparent;
    color: white;
    outline: none;
    border: 1px solid white;
    border-radius: 2px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;
    margin-bottom: 16px;
}

.selection {
    width: 100%;
    height: 48px;
    padding-top: 0;
}

input::placeholder {
    color: white;
    opacity: 0.7;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
}

.selectoption {
    color: white;
    font-family: "Montserrat", sans-serif !important;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
}

select option:hover {
    background-color: #007bff;
    color: white;
}

.disabledOption {
    opacity: 0.7;
}

.submitBtn {
    border: none;
    width: 221px;
    height: 56px;
    color: white;
    background: #5bc8af;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    margin-top: 25px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.submitIcon{
    height: 24px;
    width: 24px;
}
.divider{
    width: 100%;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: 0;
    z-index: 11;
}
.lowerCurveTab{
    display: none;
}
nav{
    display: flex;
}


@media (max-width: 1250px) {
    .container{
        height: 1090px;
        background-image: url('/app//public/assets/images/contactUsImgMobile.png');
    }
    .innerContainer{
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    .text-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }
    .interventionImgWeb{
        display: none;
    }
    .interventionImgTab{
        display: block;
        width: 498px;
        height: 128px;
        margin-bottom: 16px;
    }
    .text{
        text-align: center;
        font-size: 18px;
        line-height: 28px;
    }
    .contactUsForm{
        margin-top: 0;
    }
    .upperCurveWeb,
    .lowerCurveWeb{
        display: none;
    }
    .lowerCurveTab{
        height: 111px;
        width: 100%;
        display: block;
        position: absolute;
        bottom: -1px;
    }
}

@media (max-width: 1180px) {
    .header{
        padding: 18px 24px 0 24px;
        width: calc(100% - 48px);
        align-items: flex-start;
    }
    nav{
        flex-direction: column;
    }
    nav ul{
        gap: 29px;
        justify-content: right;
    }
    nav ul li{
        margin-right: 0;
    }
    .pipe{
        display: none;
    }
}