<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="footer.module.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="footer">
        <div class="leftSection">@2021 Get an Intervention Inc. All rights reserved.</div>
        <div class="rightSection">
            <div class="navItem">Privacy Policy &nbsp;|&nbsp; Terms of use &nbsp;|&nbsp; Site Map</div>
        </div>
    </div>
</body>

</html>