<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="features.module.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="featureContainer">
        <div class="featureSection">
            <img src="/app//public//assets//images/titleImgWeb.png" class="titleImgWeb" />
            <div class="paraMobile para1">
                <b>Interventions</b> should focus on older adult’s desire for connectedness, participation and
                independence.
            </div>
            <div class="paragraphs">
                <div class="paraWeb para1">
                    <b>Interventions</b> should focus on older adult’s desire for connectedness, participation and
                    independence.
                </div>
                <div class="paraWeb">
                    Loneliness and social isolation are growing public health concerns in our aging society. Whilst
                    these experiences occur across the life span, 50% of individuals aged over 60 are at risk of social
                    isolation and one-third will experience some degree of loneliness later in life. It is vital to
                    reduce loneliness and social isolation among older adults.
                </div>
                <div class="paraWeb">
                    The methodology framework proposed by Asked and O’Malley and further developed by Levac, et al. was
                    used to guide the scoping review process. A total of 33 reviews met the inclusion criteria,
                    evaluating a range of interventions targeted at older people residing in the community or
                    institutionalised settings.
                </div>
                <div class="paraMobile">
                    Loneliness and social isolation are growing public health concerns in our aging society. Whilst
                    these experiences occur across the life span, 50% of individuals aged over 60 are at risk of social
                    isolation and one-third will experience some degree of loneliness later in life. It is vital to
                    reduce loneliness and social isolation among older adults.
                </div>
                <div class="paraMobile">
                    The methodology framework proposed by Asked and O’Malley and further developed by Levac, et al. was
                    used to guide the scoping review process. A total of 33 reviews met the inclusion criteria,
                    evaluating a range of interventions targeted at older people residing in the community or
                    institutionalised settings.
                </div>
            </div>
        </div>
        <div class="featuresBox">
            <div class="feature">
                <div class="card">
                    <span class="cardTitle">Needs Assessment</span>
                    <div class="tooltip-wrapper">
                        <div class="tooltip-icon">i</div>
                    </div>
                    <div class="tooltip-text">
                        We’re experienced in our individual crafts and understand how each one of our roles impacts
                        your plan holistically.
                    </div>
                </div>
            </div>
            <div class="feature">
                <div class="card">
                    <span class="cardTitle">Treatment Planning & Placement</span>
                    <div class="tooltip-wrapper">
                        <div class="tooltip-icon">i</div>
                    </div>
                    <div class="tooltip-text">
                        We’re experienced in our individual crafts and understand how each one of our roles impacts
                        your plan holistically.
                    </div>
                </div>
            </div>
            <div class="feature">
                <div class="card">
                    <span class="cardTitle">Transportation & Logistics</span>
                    <div class="tooltip-wrapper">
                        <div class="tooltip-icon">i</div>
                    </div>
                    <div class="tooltip-text">
                        We’re experienced in our individual crafts and understand how each one of our roles impacts
                        your plan holistically.
                    </div>
                </div>
            </div>
            <div class="feature">
                <div class="card">
                    <span class="cardTitle">Insurance Advocacy</span>
                    <div class="tooltip-wrapper">
                        <div class="tooltip-icon">i</div>
                    </div>
                    <div class="tooltip-text">
                        We’re experienced in our individual crafts and understand how each one of our roles impacts
                        your plan holistically.
                    </div>
                </div>
            </div>
            <div class="feature">
                <div class="card">
                    <span class="cardTitle">Employment Advocacy</span>
                    <div class="tooltip-wrapper">
                        <div class="tooltip-icon">i</div>
                    </div>
                    <div class="tooltip-text">
                        We’re experienced in our individual crafts and understand how each one of our roles impacts
                        your plan holistically.
                    </div>
                </div>
            </div>
            <div class="feature">
                <div class="card">
                    <span class="cardTitle">Aftercare Planning</span>
                    <div class="tooltip-wrapper">
                        <div class="tooltip-icon">i</div>
                    </div>
                    <div class="tooltip-text">
                        We’re experienced in our individual crafts and understand how each one of our roles impacts
                        your plan holistically.
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>