<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="gallery.module.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="gallery">
        <div class="flexBox">
            <img src="/app/public/assets/images/gallery-img-3.png" class="galleryImg" />
            <img src="/app/public/assets/images/gallery-img-2.png" class="galleryImg" />
            <img src="/app/public/assets/images/gallery-img-1.png" class="galleryImg" />
        </div>
        <div class="textSection">
            <img src="/app//public//assets//images/weUnderstandImg.png" class="headerImg" />
            <div class="paragraphs">
                <div class="paraWeb">
                    Older adults want to play active and meaningful roles in their lives, including as part of a social
                    network, a neighborhood, and a community. Service providers and policymakers must consider that a
                    lack of sense of purpose can become problematic as people age. Engaging them in leisure activities
                    and volunteer work is important.
                </div>
                <div class="paraWeb">
                    Older adults want to stay active and contribute to society in a reciprocal manner (meaning that they
                    want to exchange their services and skills with others for the mutual benefit of the neighborhood or
                    community). Qualitative and quantitative studies published from 2005 to 2016 examining the social
                    needs of older adults were eligible for inclusion.
                </div>
                <div class="paraWeb">
                    To stimulate social contacts, neighborhood initiatives can be developed. Social meeting places, such
                    as pubs and churches can help to foster the development of close and peripheral relationships.
                    <div class="successRateBtn">92% Success Rate <img
                            src="/app//public/assets/images/rightArrowIcon.png" alt="" class="arrowIcon" /></div>
                </div>
                <div class="paraMobile">
                    Older adults want to play active and meaningful roles in their lives, including as part of a social
                    network, a neighborhood, and a community. Service providers and policymakers must consider that a
                    lack of sense of purpose can become problematic as people age. Engaging them in leisure activities
                    and volunteer work is important.<br><br>Older adults want to stay active and contribute to society
                    in a
                    reciprocal manner (meaning that they want to exchange their services and skills with others for the
                    mutual benefit of the neighborhood or community).
                </div>
                <div class="paraMobile">
                    Qualitative and quantitative studies published from 2005 to 2016 examining the social needs of older
                    adults were eligible for inclusion. To stimulate social contacts, neighborhood initiatives can be
                    developed. Social meeting places, such as pubs and churches can help to foster the development of
                    close and peripheral relationships.
                    <div class="successRateBtn">92% Success Rate <img
                            src="/app//public/assets/images/rightArrowIcon.png" alt="" class="arrowIcon" /></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>