@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


@mixin fontProperties($fontFamily, $weight, $size, $height) {
    font-family: 'Montserrat', sans-serif;
    font-weight: $weight;
    font-size: $size;
    line-height: $lineHeight;
  }

$montserratFont: 'Montserrat', sans-serif;
  