.aboutUs {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}
.left {
  width: fit-content;
  height: 648px;
  position: relative;
}
.section {
  position: absolute;
  z-index: 10;
  top: 94px;
  left: 128px;
}
.titleImg {
  width: 444px;
  height: 44px;
}
.pointsSection {
  margin-top: 62px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.point {
  display: flex;
  gap: 12px;
}
.tickmark {
  width: 17px;
  height: 13px;
  margin-top: 8px;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.pointTitle {
  color: white;
  font-family: "Montserrat", sans-serif !important;
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
.pointSubtitle {
  color: white;
  font-family: "Montserrat", sans-serif !important;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}
.gradientImg {
  position: absolute;
  width: 755px;
  height: 648px;
  z-index: 4;
  top: 0;
  left: 0;
}
.upperLeftImg {
  position: absolute;
  width: 779px;
  height: 648px;
  top: 0;
  left: 0;
  z-index: 3;
}
.right {
  position: relative;
  height: 648px;
}
.rightImg {
  position: absolute;
  top: 0;
  left: 691px;
  width: 749px;
  height: 648px;
  z-index: 2;
}
.videoBtn {
  position: absolute;
  top: 220px;
  right: 255px;
  z-index: 5;
  width: 208px;
  height: 208px;
  cursor: pointer;
}
.videoBtn:hover {
  transform: scale(1.15);
}
#popup {
  display: none;
}
.popup-overlay {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 12;
}
.popup-content {
  position: absolute;
  margin: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  height: 315px;
  border-radius: 10px;
}
.video{
  border-radius: 10px;
}

.close-btn {
  position: absolute;
  top: -50px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  border-radius: 50%;
  border: none;
}
