.aboutUs {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}
.section {
  position: absolute;
  z-index: 10;
  top: 94px;
  left: 8.88%;
  width: 32.77%;
}
.titleImg {
  width: 444px;
  height: 44px;
}
.pointsSection {
  margin-top: 62px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.point {
  display: flex;
  gap: 12px;
}
.tickmark {
  width: 17px;
  height: 13px;
  margin-top: 8px;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.pointTitle {
  color: white;
  font-family: "Montserrat", sans-serif !important;
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
.pointSubtitle {
  color: white;
  font-family: "Montserrat", sans-serif !important;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  opacity: 0.8;
}
.gradientImgWeb {
  position: absolute;
  width: 52.43%;
  height: 648px;
  z-index: 4;
  top: 0;
  left: 0;
}
.gradientImgMobile,
.upperLeftImgMobile {
  display: none;
}
.upperLeftImgWeb {
  position: absolute;
  width: 54.1%;
  height: 648px;
  top: 0;
  left: 0;
  z-index: 3;
}
.rightImgWeb {
  position: absolute;
  top: 0;
  /* left: 691px; */
  right: 0;
  width: 52%;
  height: 648px;
  z-index: 2;
}
.rightImgMobile{
  display: none;
}
.videoBtn {
  position: absolute;
  top: 220px;
  right: 17.7%;
  z-index: 5;
  width: 208px;
  height: 208px;
  cursor: pointer;
}
.videoBtn:hover {
  transform: scale(1.14);
}
#popup {
  display: none;
}
.popup-overlay {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 12;
}
.popup-content {
  position: absolute;
  margin: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  width: 100%;
  max-width: 800px;
  aspect-ratio: 17.77/10;
  background-color: transparent;
}
.video {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.close-btn {
  position: absolute;
  top: -50px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  border-radius: 50%;
  border: none;
}

@media (max-width: 1050px) {
  .gradientImgWeb,
  .upperLeftImgWeb,
  .rightImgWeb {
    display: none;
  }
  .aboutUs {
    flex-direction: column;
  }
  .titleImg {
    left: calc(50% - 222px);
    position: absolute;
  }
  .section {
    top: 102px;
    left: 6.25%;
    width: 90%;
  }
  .pointsSection{
    position: absolute;
    top: 64px;
    gap: 24px;
  }
  .gradientImgMobile,
  .upperLeftImgMobile {
    display: block;
    width: 100%;
  }

  .gradientImgMobile {
    z-index: 5;
    height: 648px;
    position: absolute;
    top: 0;
  }

  .upperLeftImgMobile {
    z-index: 4;
    height: 673px;
    position: absolute;
    top: 0;
  }
  .rightImgMobile{
    display: block;
    position: absolute;
    top: 600px;
    width: 100%;
    height: 500px;
  }
  .videoBtn{
    top: 532px;
    right: calc(50% - 100px);
    width: 200px;
    height: 200px;
  }
  .close-btn {
    height: 40px;
    width: 40px;
    left: calc(50% - 20px);
    top: -60px;
  }
}
